{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<section id="hero" class="hero standard-margins"
  data-colors="{{ section.settings.gradient_color_1 | default: '#30FA30' }}, {{ section.settings.gradient_color_2 | default: '#FFFCFA' }}, {{ section.settings.gradient_color_3 | default: '#feea4f' }}"
  data-edge="0"
>
  <h1 class="type-display-hero animate-cascade fit-text">
    {%- assign title_words = section.settings.title | default: 'Green Tile Social Club' | split: ' ' -%}
    {%- for word in title_words %}
      <span>{{ word }}</span>
    {%- endfor -%}
  </h1>
</section>

<script src="{{ 'section-hero.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Hero",
  "tag": "div",
  "class": "hero-section-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Hero title",
      "default": "Green Tile Social Club"
    },
    {
      "type": "header",
      "content": "Section gradient"
    },
    {
      "type": "color",
      "id": "gradient_color_1",
      "label": "Gradient color 1",
      "default": "#30FA30"
    },
    {
      "type": "color",
      "id": "gradient_color_2",
      "label": "Gradient color 2",
      "default": "#FFFCFA"
    },
    {
      "type": "color",
      "id": "gradient_color_3",
      "label": "Gradient color 3",
      "default": "#feea4f"
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
